body {
    background-image: url('./assets/backgroundPic.jpg');
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

button {
    border-radius: 4px;
    background-color: rgb(204, 236, 248);
    font-family: 'Courier New', Courier, monospace;
}

form {
    border-radius: 6px;
    background-color: aliceblue;
    height: 30vh;
    width: 20vw;
    opacity: .8;
    margin-top: 10%;
    margin-left: 10%;
    position: absolute;
}

img {
    height: 75px;
    width: 75px;
    margin: -15px;
}
